{% extends 'blog/base.html' %} {% block content %}

<h2>Your Saved Posts</h2>

<!-- POSTS -->

<div class="row">
  {% for post in posts %}

  <div class="col-md-6 mb-4">
    <div class="card shadow-sm h-100">
      <div class="card-body">
        <h5>
          {% if post.image %}
          <img src="{{ post.image.url }}" width="40" />
          {% endif %}

          <a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </a>
        </h5>
        <p class="text-muted">
          Category:
          <a href="?category={{ post.category.name }}"> {{ post.category }} </a>
        </p>

        <div class="">
          {% for tag in post.tags.all %}
          <a href="?tags={{ tag.name }}" class="badge bg-secondary">
            {{ tag.name }}
          </a>
          {% endfor %}
        </div>

        <p>{{ post.text|truncatewords:20 }}</p>
      </div>

      <div class="card-footer d-flex justify-content-between">
        <small>
          <a href="?author={{ post.author.email }}"> {{ post.author }} </a>

          | {{ post.created_date }}
        </small>

        <div>
          <a
            href="{% url 'save_post' pk=post.pk %}"
            class="btn btn-sm btn-outline-warning"
          >
            Unsave
          </a>

          {% if request.user == post.author %}
          <a
            href="{% url 'post_edit' pk=post.pk %}"
            class="btn btn-sm btn-outline-primary"
          >
            Edit
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% empty %}

  <h4>No saved posts found</h4>

  {% endfor %}
</div>

<a href="{% url 'homeApp' %}" class="btn btn-secondary mt-3"> Back to Home </a>

{% endblock %}
